body{

    direction: rtl;
    height: 100vh;
    
    
    }

    
    
    img{
    
    display: inline;
    }
    
    .shadow-md {
        box-shadow: none;
    }
    .relative span{
    
    padding-right: 10px;
    color: #ccc;
    font-weight: 400;
    font-size: 13.5px;
    }
    
    li,a{
    
    color: #ccc!important;
    text-decoration: none;
    }
    
    .bg-gray-100{
    
        background-color: #fff;
    
    }

    .mt-6{

        margin-bottom: 0.2rem;
    }

    .py-3 {
        padding-top: 0.62rem!important;
        padding-bottom: 0.62rem!important;
    }
    
    .py-4 {
        padding-top: 0.9rem!important;
        padding-bottom: 0.9rem!important;
    }
    
    
    .repor{


        padding-top: 0rem!important;
        padding-bottom: 0rem!important;
        }
        
        
    aside{
    
    box-sizing: border-box;
    position: fixed;
    height: 100vh;

    }
    
    .pr-2 {
        padding-right: .8rem;
    }

    .electronic{
            background-color: #415770;
            box-sizing: border-box;
            display: flex;
            align-items: center;
    }

    .electronic p{

    padding-right: 30px;
    color: #eee;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Kufam', sans-serif;
    font-weight: 400;
    margin: 0px;
    }


    body{

        margin: 0px;
        padding: 0px;
        height: 100vh;
        box-sizing: border-box;
        direction: rtl;
        font-family: 'Cairo', sans-serif;
    }

        *{
        
        box-sizing: border-box;
        }
        
        .container{
        
        width: 95%;
        margin: auto;
        }
     
        .navbar-light .navbar-brand {
        
        color: #eee;
        width: 20%;
        text-align: left;
        font-weight: 300;
        font-size: 15px;
        }
        
        .navbar-nav .nav-item .nav-link{
        
        color: #eee;
        font-size: 15px;
        font-weight: 300;
        }
        
        .navbar-nav{
        
        width: 80%;
        }
        
        .container-fluid{
        
        width: 95%;
        margin: auto;
        }
        
        .dropdown-menu .dropdown-item{
        
        text-align: center;
        }
        
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: .9rem;
            padding-left: .9rem;
        }
        


div form{

padding: 30px 0px;
margin-bottom: 10px;
}
form{

text-align: center;
}

form input{
    
    outline: none;
    border: 1px solid #aaa;
    padding: 9.4px 0px;
    width: 35%;
    padding-right: 7px;
    border-radius: 3px;

}

form input[type="submit"]{

border: none;
padding: 10px 0px;
background-color: #50749e;
color: #fff;
width: 10%;
}

form input::placeholder{

color: #888;
font-size: 15px;
}

.section2 table{

width: 97%;
margin: auto;
}
.section2 table tr th{


width: 22%;
text-align: center;
font-size: 15px;
background-color: #38a199;
color: #fff;
padding: 1.1rem 0rem;
font-weight: 400;
}

.section2 table tr .white2{

background-color: rgb(235,235, 235);
}

.section2 table tr td{

text-align: center;
padding: 0.5rem 0rem;
font-size: 14.5px;
width: 22%;
background-color: rgba(235, 235, 235, 0.377);
border-bottom: 1px solid #aaa;
font-weight: 300;
color: #111;
}


.section2 table tr td button{


background-color: #5d7585;
border: none;
padding: 8px 0px;
padding-bottom: 7px;
color: #fff;
width: 22%;
border-radius: 3px;
font-size: 15px;
}

.section2 table tr td .btn2{

    background-color: #399696;
    margin-right: 5px;
    margin-left: 5px;


}

.section2 table tr td .btn3{

background-color: #c28242;
}

.section2 table tr .sales{


width: 14%;
}


i{

cursor: pointer;
}

.lg\:mr-32 {
     margin-right: 0rem;
}

.max-w-xl {
    max-width: none;
}
.mr-6 {
    margin-right: 0rem;
}

.aside{

transition: 1s all;
}

@media(max-width:550px){


    form input{
    
        outline: none;
        border: 1px solid #aaa;
        padding: 7.3px 0px;
        width: 60%;
        padding-right: 7px;
        font-size: 12.5px;
    
    }
    
    form input[type="submit"]{
    
    border: none;
    padding: 8px 0px;
    background-color: #50749e;
    color: #fff;
    width: 20%;
    font-size: 12px;
    }

    form input::placeholder{

       font-size: 12px;

    }

.section2 table tr th,.section2 table tr td{

font-size: 11.5px;

}
}

.bg-gray-100 {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

@media(max-width:600px){

.section2 table tr td button{


border: none;
padding: 8px 0px;
padding-bottom: 7px;
color: #fff;
width: 70%;
border-radius: 3px;
margin-bottom: 7px;
font-size: 13px;
}

ol, ul{
    padding-left: 0rem;
}


}

@media(max-width:767px){
.icon2{

display: none;
}

.icon2{

display: none;
}

.mt-16 {
    margin-top: 4.8rem;
}


.py-3 {
    padding-top: 0.55rem!important;
    padding-bottom: 0.55rem!important;
}

}


.mr-5 {
    margin-right: 0rem;
}

@media(min-width:768px){

.navbar{

width: 84.5%;
margin-right: 15.5%;
}
        /***/

.section2{

padding: 20px 0px;
width: 84%;
margin-right: 16%;

}


}

*::-webkit-scrollbar {
    width: 3px;
    height: 4px;
    border-radius: 7px;
    transition: .3s;
}
::-webkit-scrollbar-thumb {
    background: #2e3e4e!important;
}

::-webkit-scrollbar-track{

background-color: #fff;
}

.bg-gray-50 {
    background-color: #fff;
}