body{

    direction: rtl;
    height: 100vh;
    
    
    }

    
    
    img{
    
    display: inline;
    }
    
    .shadow-md {
        box-shadow: none;
    }
    .relative span{
    
    padding-right: 10px;
    color: #ccc;
    font-weight: 400;
    font-size: 13.5px;
    }
    
    li,a{
    
    color: #ccc!important;
    text-decoration: none;
    }
    
    .bg-gray-100{
    
        background-color: #fff;
    
    }

    .mt-6{

        margin-bottom: 0.2rem;
    }

    .py-3 {
        padding-top: 0.62rem!important;
        padding-bottom: 0.62rem!important;
        font-size: 13px;
    }
    
    .py-4 {
        padding-top: 0.6rem!important;
        padding-bottom: 0.6rem!important;
    }
    
    
    .repor{


        padding-top: 0rem!important;
        padding-bottom: 0rem!important;
        }
        
        
    aside{
    
    box-sizing: border-box;
    }
    
    .pr-2 {
        padding-right: .8rem;
    }

    .electronic{
            background-color: #415770;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            margin: 0px;
        }

    .electronic p{


    padding-right: 30px;
    color: #eee;
    font-size: 14.5px;
    box-sizing: border-box;
    font-family: 'Kufam', sans-serif;
    margin: 0px;

    }


    body{

        margin: 0px;
        padding: 0px;
        height: 100vh;
        box-sizing: border-box;
        direction: rtl;
        font-family: 'Cairo', sans-serif;
    }

        *{
        
        box-sizing: border-box;
        }
        
        .container{
        
        width: 95%;
        margin: auto;
        }
     
        .navbar-light .navbar-brand {
        
        color: #eee;
        width: 20%;
        text-align: left;
        font-weight: 300;
        font-size: 15px;
        }
        
        .navbar-nav .nav-item .nav-link{
        
        color: #eee;
        font-size: 15px;
        font-weight: 300;
        }
        
        .navbar-nav{
        
        width: 80%;
        }
        
        .container-fluid{
        
        width: 95%;
        margin: auto;
        }
        
        .dropdown-menu .dropdown-item{
        
        text-align: center;
        }
        
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: .9rem;
            padding-left: .9rem;
        }
        
        /***/
        
      

        input{

        border: 1px solid #f6f6f6;
        }
        



.head-adddelivery .add,.head-adddelivery .add1{

padding: 25px 0px;
}



.head-adddelivery .add1{

padding: 5px 0px;
}

.head-adddelivery .add1 .bt{

margin: 13px 0px;

}

.head-adddelivery .add1 .bt input{

padding: 9px 20px;
width: 21%;
font-size: 13px;
font-weight: 400;
background-color: #415770;
color: #fff;
border: none;
}

.head-adddelivery .add1 .bt label input{

padding: 9px 20px;
width: 21%;
font-size: 13px;
font-weight: 400;
background-color: #415770;
color: #fff;
}

.head-adddelivery .add1 .bt input[type="search"]{

border: 1px solid #aaa;
padding: 8.5px 20px;

outline: none;
background: #fff;
color: #333;
width: 33%;
}

.head-adddelivery .add1 .bt label{

width: 35%;
}



.head-adddelivery .add h5{

padding: 10px 0px 15px 0px;
color: #444;
text-align: center;
font-size: 17px;
width: 100%;
}


.search-field::placeholder{

font-size: 13px;
}

.head-adddelivery .add input{

    display: block;
    width: 80%;
    border: 1px solid #aaa;
    outline: none;
    margin-bottom: 15px;
    padding: 7px 7px;
    font-weight: 400;
}


.head-adddelivery .add input[type="submit"]{

background-color: #2e3e4e!important;
color: #fff;
border: none;
font-weight: 400;
width: 38.4%;
float: right;
margin-left: 7px;
font-size: 13.5px;

}

.head-adddelivery .add input[type="button"]{

background-color: rgb(168, 85, 85);
color: #fff;
border: none;
font-weight: 400;
width: 25.4%;
float: right;
font-size: 13.5px;


}

.head-adddelivery .add input{


width: 98%;
border-radius: 3px;
}

.head-adddelivery .add input::placeholder{

font-size: 13px;
}

.head-adddelivery .add1 table{

width: 100%;
}

.head-adddelivery .add1 table tr th,.head-adddelivery .add1 table tr td{

width: 18%;
font-size: 12px;
padding: 10px 5px;
}

.head-adddelivery .add1 table tr th{


background-color: #2e3e4e!important;
border: none;
color: #fff;
font-weight: 400;

}

.head-adddelivery .add1 table tr td{

background-color: rgba(235, 235, 235, 0.377);
padding: 5px 5px;
}

.head-adddelivery .add1 table tr:nth-of-type(odd){

background-color: rgb(235,235, 235);
}


.head-adddelivery .add1 table tr .series{

width: 10%;

}



@media(max-width:767px)
{

      *{
        
        box-sizing: border-box;
        }
        





.head-adddelivery .add h5{

padding: 10px 0px 15px 0px;
color: #444;
font-size: 16px;
}

.head-adddelivery .add{

padding: 25px 0px;
}

.head-adddelivery .add1 .bt input{

padding: 8px 20px;
margin: 13px 0px;
width: 32.5%;
font-size: 11px;
}




.head-adddelivery .add1 .bt input[type="search"]{

border: 1px solid #aaa;
padding: 2.5px 20px;

outline: none;
background: #fff;
color: #333;
width: 60%!important;
}


.head-adddelivery .add1 .bt label{

width: 70%;
display: inline;
}



.head-adddelivery .add1{

padding: 0px 0px;
}

.head-adddelivery .add input{


    width: 100%;
}




.head-adddelivery .add input{


width: 100%;
}

.head-adddelivery .adddelivery3 input{

    width: 100%;
    border: none;
    color: #fff;
    font-size: 15.5px;
    border-radius: 5px;
}



.head-adddelivery .add1 table tr th,.head-adddelivery .add1 table tr td{

width: 20%;
font-size: 11px;
padding: 10px 5px;
text-align: center;
}

.head-adddelivery .add1 table tr th{


background-color: #3ba89f;
border: none;
color: #fff;
font-weight: 400;

}


.head-adddelivery .add input[type="submit"]{

background-color: #177777;
color: #fff;
border: none;
font-weight: 400;
width: 60%;
float: right;
margin-left: 7px;
font-size: 12px;
padding: 9px 7px;


}

.head-adddelivery .add input[type="button"]{

background-color: rgb(168, 85, 85);
color: #fff;
border: none;
font-weight: 400;
width: 38%;
float: right;
font-size: 11px;
padding: 9px 7px;


}


}


@media(max-width:767px){

.mt-16 {
    margin-top: 4.2rem;
}


.py-3 {
    padding-top: 0.55rem!important;
    padding-bottom: 0.55rem!important;
}


.icon2{

display: none;
}

ol, ul {
    padding-left: 0rem;
}
}

*::before, *::after {
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    transition: .3s;
}
::-webkit-scrollbar-thumb {
    background: #e1e6f1;
}

.bg-gray-100 {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}




i{

cursor: pointer;
}

.lg\:mr-32 {
     margin-right: 0rem;
}

.max-w-xl {
    max-width: none;
}
.mr-6 {
    margin-right: 0rem;
}

.aside{

transition: 1s all;
}


.mr-5 {
    margin-right: 0rem;
}

.bg-gray-50 {
    background-color: #fff;
}

