body{

    direction: rtl;
    height: 100vh;
    
    
    }

    
    
    img{
    
    display: inline;
    }
    
    .shadow-md {
        box-shadow: none;
    }
    .relative span{
    
    padding-right: 10px;
    color: #ccc;
    font-weight: 400;
    font-size: 13.5px;
    }
    
    li,a{
    
    color: #ccc!important;
    text-decoration: none;
    }
    
    .bg-gray-100{
    
        background-color: #fff;
    
    }

    .mt-6{

        margin-bottom: 0.2rem;
    }

    .py-3 {
        padding-top: 0.62rem!important;
        padding-bottom: 0.62rem!important;
        font-size: 13px;
    }
    
    .py-4 {
        padding-top: 0.6rem!important;
        padding-bottom: 0.6rem!important;
    }
    
    
    .repor{


        padding-top: 0rem!important;
        padding-bottom: 0rem!important;
        }
        
        
    aside{
    
    box-sizing: border-box;
    }
    
    .pr-2 {
        padding-right: .8rem;
    }

    .electronic{
            background-color: #415770;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            margin: 0px;
        }

    .electronic p{


    padding-right: 30px;
    color: #eee;
    font-size: 14.5px;
    box-sizing: border-box;
    font-family: 'Kufam', sans-serif;
    margin: 0px;

    }


    body{

        margin: 0px;
        padding: 0px;
        height: 100vh;
        box-sizing: border-box;
        direction: rtl;
        font-family: 'Cairo', sans-serif;
    }

        *{
        
        box-sizing: border-box;
        }
        
        .container{
        
        width: 95%;
        margin: auto;
        }
     
        .navbar-light .navbar-brand {
        
        color: #eee;
        width: 20%;
        text-align: left;
        font-weight: 300;
        font-size: 15px;
        }
        
        .navbar-nav .nav-item .nav-link{
        
        color: #eee;
        font-size: 15px;
        font-weight: 300;
        }
        
        .navbar-nav{
        
        width: 80%;
        }
        
        .container-fluid{
        
        width: 95%;
        margin: auto;
        }
        
        .dropdown-menu .dropdown-item{
        
        text-align: center;
        }
        
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: .9rem;
            padding-left: .9rem;
        }
        
        /***/
        
      

        input{

        border: 1px solid #f6f6f6;
        }
        
/***Start invoice-head***/

label{

display: block;
font-size: 13px;
padding: 5px 0px;
}
p{

font-size: 13px;

}

.invoice-head .invoice1,.invoice-head .invoice2{

margin: 15px 0px;

}

.invoice-head .invoice2{

margin-bottom: 0px;
}

.invoice-head .invoice5{

margin: 10px 0px;
}


.invoice-head .invoice5 table{

width: 100%;
}

table tr th,table tr td{

font-size: 13px;
width: 16%;
padding: 7px 7px;

}

table tr td{

border: 1px solid #aaa;

}

table tr .description{

width: 50%;
}